<div class="dog">

  <h1>Click On the breed to see images</h1>

  <table>
  <% @breeds.each do |breed| %>
      <tr>
        <td>
          <a href="<%= breed_path(id: breed)  %>"><%= breed %></a>
        </td>
      </tr>
  <% end %>

  </table>

</div>
